<style>
    .recommendation-list {
        font-family: sans-serif;
        color: #35516c;
    }
    .recommendation-list a {
        color: #35516c;
        text-decoration: none;
    }
    .recommendation-list h2 {
        color: #A67B92;
        font-size: 24px;
    }
    .recommendation-list-pokemons {
        display: flex;
    }
    .recommendation-list-pokemons > * {
        flex-grow: 1;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,0.1);
    }
    .recommendation-list-pokemons > *:last-child {
        border-right: 1px solid rgba(255,255,255,0.1);
    }

    @media screen and (max-width: 700px) {
        .recommendation-list-pokemons {
            overflow: auto;
        }
        .recommendation-list-pokemons > * {
            min-width: 150px;
        }
    }
</style>

<section class="recommendation-list">
    <h2>Recommendations for {{ pokemon.name }}</h2>

    <div class="recommendation-list-pokemons">
        {% for recommendation in pokemon.recommendations %}
            <div>
                <a href="/pokemon/{{recommendation.number}}">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ recommendation.number }}.png" alt="{{ recommendation.name }}">
                    <h3>{{ recommendation.name }}</h3>
                    <span>${{ recommendation.price }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
