<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/components.js"></script>
    <title>Pokémon Shop!</title>

    <style>
        body {
            background: #060C0D;
            padding: 60px;
        }

        @media only screen and (max-width: 600px) {
            body {
                padding: 60px 20px;
            }
        }
    </style>
</head>
<body>
    <header-component>
    </header-component>

    <front-end-fragment
            id="catalog-fragment"
            url="http://localhost:3000/catalog/page/{currentPageNumber}"
            headers='{"X-Pagination-Url-Template": "/catalog/{number}"}'>
        <div slot="fragment-error">
            <fragment-error-component>

            </fragment-error-component>
        </div>
    </front-end-fragment>

</body>
</html>
