<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/components.js"></script>
    <title>Pokémon Shop!</title>

    <style>
        body {
            background: #060C0D;
            padding: 120px 60px;
        }
    </style>
</head>
<body>
    <header-component>
    </header-component>

    <main id="pokemon-layout">
        <section id="cart-details-row">
            <front-end-fragment
                    id="cart-fragment"
                    url="http://localhost:3000/pokemons/{number}">
            </front-end-fragment>
        </section>
    </main>

</body>
</html>
